* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  user-select: none;
}

body {
  background-color: #22092c;
}

table {
  background-color: #f5e8c7;
  border-radius: 4px;
}

td {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-color: #818fb4;
  /* border: 1px solid black; */
  border-radius: 2px;
  overflow: hidden;
}

td.border {
  background-color: #435585;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.snake {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  background-size: 100px;
}

.head-up {
  background-position: -60px 0px;
}
.head-down {
  background-position: -80px -20px;
}
.head-right {
  background-position: -80px 0px;
}
.head-left {
  background-position: -60px -20px;
}
.body-vert {
  background-position: -40px -20px;
}
.body-hor {
  background-position: -20px 0px;
}
.body-up-right {
  background-position: 0px -20px;
}
.body-up-left {
  background-position: -40px -40px;
}
.body-down-right {
  background-position: 0px 0px;
}
.body-down-left {
  background-position: -40px 0px;
}
.tail-up {
  background-position: -60px -40px;
}
.tail-down {
  background-position: -80px -60px;
}
.tail-right {
  background-position: -80px -40px;
}
.tail-left {
  background-position: -60px -60px;
}
.apple {
  background-position: 0px -60px;
}
